body{
  background-image:url("/img/background.jpg");
  background-attachment: fixed;
  color:black;
}



h1 {
   margin-top: 200px;
   text-align: center;
   font-variant: small-caps;
   font:italic bold 100px Georgia, serif;
}

h3 {
   margin-top: 50px;
   text-align: center;
   font-variant: small-caps;
   font:italic bold 50px Big Caslon, serif, bold;
}

.input_bar {
  display: inline-block;
  text-align: center;
}

input[type="text"] {
    width: 500px;
    height: 50;
    font: 30px Times, serif, bold;
}

.submit {
   position: relative;
   width: auto;

   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;

   height: 50px;
   line-height: 50px;
   padding-right: 50px;
   padding-left: 50px;

   background-color: darkkhaki;
   color:black;
   text-decoration: none;

   font:italic bold 30px Times, serif, bold;
}


.container{
  display: table;
  content: "";
  width:900px;
  margin:auto;
}

.row{
  margin-left: -15px;
  margin-right: -15px;
  display: table;
  content: "";
  clear:both;
}

.headline{
  text-align: center;
  clear:both;
}

h2{
  font: Georgia, bold, 100px;
}

.column{
  float: left;
  width: 300px;
  height: 335px;
  font: Georgia, bold, 100px;

}

.round{
  border-radius: 10%;
  border: 3px solid black;/* border width   */
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  margin: 10px;
  padding: 10px;
}
.clear{
  clear:both;
}

span {
  font-style: oblique;
  font-size: 20px;
}

p {
  font-style: normal;
  font-size: 15px;
}



.step{
  width: 900px;
  background: red;
  height: 100%;
  margin: 100px;
  margin-left: 200px;
  margin-right: 10px;
}

.feature {
  display: block;
  float: left;
  width: 300px;
}

img {
  width: 50%;
  height: 50%;
}

.url-row{
  width:760px;
  margin: 30px auto;
  padding: 24px 26px;
  border-radius: 5px;
  background:rgba(152,152,152,0.5); 
}

.url-row p a{
    color:#1A2600;
    text-decoration: none;
    font-weight: bold;
}

.click-counter{
  float:right;
}

.firstrow{
  font-style: oblique;
  font-size:30px;
}

th {
    border: solid;
    text-align: left;
    padding: 8px;
    color: black;
}

#error-btn{
/*  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #339933);
  background-image: -moz-linear-gradient(top, #3498db, #339933);
  background-image: -ms-linear-gradient(top, #3498db, #339933);
  background-image: -o-linear-gradient(top, #3498db, #339933);
  background-image: linear-gradient(to bottom, #3498db, #339933);*/
  background-color: darkkhaki;
  color:black;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Helvetica;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}