<!-- <h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>
<h2> User Data </h2>

<br>
#### To create simple erb view file:
```
# app/views/root.erb
<h1>This is root page</h1> -->

<form action = '#' method = "">
  Enter URL:
  <input type = 'text' name = 'long_url'>
  <input type = 'submit' value = 'Submit'>
</form>