<h1>Enter the URL address you would like to shorten!</h1>
<!-- <p>See Me in views/stati<!-- c/index.html.erb</p> -->
<!-- <h2> User Data </h2>

<br>
#### To create simple erb view file:
```
# app/views/root.erb
<h1>This is root page</h -->1> -->

<form action = '#' method = "">
  Enter URL:
  <input type = 'text' name = 'long_url'>
  <input type = 'submit' value = 'Submit'>
</form>