  <h1>Make it Short!</h1>
  <div class="container">
    <div class="jumbotron">
      <div class ="row">
        <div class="headline">
          <h3>Three simple steps to solve your problem!</h3>
            <div class="row">
              <div class="column">

                <img class="round" src="/img/copy.png">
                <p>
                  <span>Step 1: </br>
                  Copy the link <span>

                </p>

              </div>

              <div class="column">
                <img class="round" src="/img/paste.png">
                <p>
                  <span>Step 2: </br> Paste the link</span>
                </p>

              </div>

              <div class="column">
                <img class="round" src="/img/click.png">
                <p>
                  <span>Step 3: </br> Click 'Short It'</span>
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  <h3>Enter Your URL Here:</h3>

  <center>
    <div class = "input_bar">
      <form  id="target" action = '/urls' method = "post">
            <input id = 'long_url' type = 'text' placeholder = '     What URL do you want to shorten?' name = 'long_url' required>
            <input type = 'submit' value = 'SHORT IT!' class="submit" id="submit_btn">
      </form>
    </div>
  </center>

<center>
  <div id="error-block" style="display:none">
  </div>
</center>



<div id="url-table">
  <% @urls.each do |url|%>
    <div class="url-row">
      <p><%= url.long_url%></p>
      
      <p>
        <a href = <%= url.short_url%> ><%= url.short_url%></a>

        <span class="click-counter"><%= url.click_counter%></span>
      </p>
    </div>
  <% end%>
</div>


