<h1>Enter the URL address you would like to shorten!</h1>
<!-- <p>See Me in views/stati<!-- c/index.html.erb</p> -->
<!-- <h2> User Data </h2>

<br>
#### To create simple erb view file:
```
# app/views/root.erb
-->

<form action = '/urls' method = "post">
  Enter URL:
  <input type = 'text' name = 'long_url'>
  <input type = 'submit' value = 'Submit'>
</form>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>long url</th>
    <th>short url</th>
  </tr>

<%Url.all.each do |url|%>
  <tr>
    <th><%= url.id%></th>
    <th><%= url.long_url%></th>
    <th><%= url.short_url%></th>
  </tr>
<% end%>

</table>


